body {
  background-image: url(../../images/brain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #e6d0c3;
}

.home {
  width: 100%;
  align-items: center;
}

.about {
  overflow: visible;
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.about h2 {
  font-size: 80px;
  color: #272932;
  height: 100px;
}

.about .prompt {
  width: 50%;
  font-size: 30px;
}

.prompt p {
  font-size: 40px;
  color: #272932;
  height: 500px;
  text-shadow: 2px 2px 4px #ffffff;
}
