.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #3e497a;
  }

  .about {
    overflow: visible;
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: #21325e; */
    background-image: url(../../images/brain.jpg);
    background-size: cover;
    color: #272932;
  }
  .about h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    color: #272932;
    height: 50px;
  }
  
  .about .prompt {
    width: 40%;
    font-size: 30px;
  }